body
  background: #333

rounded-corners(radius)
  -moz-border-radius: radius
  -webkit-border-radius: radius
  border-radius: radius /* future proofing */
  -khtml-border-radius: radius /* for old Konqueror browsers */

.QuestionCard
  background: Ivory
  padding: .75rem
  rounded-corners(5px)

.u-gridColumnWidth
  /* See ListQuestionsView::columnWidth */

.u-gridColumnMargin
  margin: .75rem


