/* TODO: Use giant photos for table bg! */

rounded-corners(radius)
  -moz-border-radius: radius
  -webkit-border-radius: radius
  border-radius: radius /* future proofing */
  -khtml-border-radius: radius /* for old Konqueror browsers */

.QuestionTable
  background: #333

.QuestionCard
  rounded-corners(5px)
  display: block
  text-decoration: none
  color: inherit
  background: Ivory
  padding: .75rem
  position: relative
  .QuestionCard-answerButton
    color: white
    display: none
    position: absolute
    right: .5em
    bottom: .5em
    z-index: 1


.QuestionCard:hover
  text-decoration: none;
  .QuestionCard-answerButton
    display: block;


.u-gridColumnWidth
  /* See ListQuestionsView::columnWidth */

.u-gridColumnMargin
  margin: .75rem


