/* TODO: Use giant photos for table bg! */

rounded-corners(radius)
  -moz-border-radius: radius
  -webkit-border-radius: radius
  border-radius: radius /* future proofing */
  -khtml-border-radius: radius /* for old Konqueror browsers */

transition-background-color(duration)
  -webkit-transition: background-color duration
  -webkit-transition-timing-function: easeOutCirc
  transition: background-color duration
  transition-timing-function: easeOutCirc

.QuestionTable
  background: #333

.QuestionCard
  corner-radius = .2rem
  rounded-corners(corner-radius)
  display: block
  background: PapayaWhip
  padding: .75rem
  position: relative
  color: DarkSlateGray
  .QuestionCard-answerButton
    color: white
    display: none
  .QuestionCard-answerers
    display: block
    line-height: 2rem
    height: 2rem
    color: DimGray
  .QuestionCard-answerInput
    width: 100%
    max-width: 100%
  .QuestionCard-answerContainer
    padding: 0.5rem
    background: wheat
  .QuestionCard-answer
    margin-bottom: 1.75rem

  &:hover
    @media only screen and (min-width: 480px)
      .QuestionCard-answerButton
        display: block
      .QuestionCard-answerers
        display: none

  &.u-flashIn
    background-color: white
    color: black
  &.u-flashOut
    transition-background-color(1.5s)

.u-gridColumnWidth
  /* See ListQuestionsView::columnWidth */

.u-gridColumnMargin
  margin: .75rem

.u-narrow
  max-width: 33rem !important

.u-pageMargin
  margin: 1rem

.u-navSpacingLeft
  margin-left: 1rem

/* This depends on BODY and HTML having a height of 100% */
.u-fillViewport
  display: block
  position: relative
  width: 100%
  min-height: 100%

.NavBar
  height = 2.5rem
  min-height: height
  width: 100%
  line-height: height
  z-index: 1
  background: white
  font-weight: bold

  .NavBar-item
    height: height
    vertical-align: middle
    display: inline-block

.ProfilePicture
  vertical-align: middle
  // For some reason it's off by a pixel otherwise
  position: relative
  top: -1px

.ProfilePicture--small
  @extend .ProfilePicture
  size = 2rem
  rounded-corners(size/2)
  width: size
  height: size

.ProfilePicture--medium
  @extend .ProfilePicture
  size = 4.5rem
  rounded-corners(2.25rem/2)
  width: size
  height: size

.Link
  &:hover
    text-decoration: underline
    color: darkslateblue

.u-showForMediumUp
  display: none !important

@media only screen and (min-width: 480px)
  .u-showForMediumUp
    display: initial !important

.u-fixedFix
  .u-posFixed
  .u-posFixedTop
    position: absolute !important
